.Manage{
    margin: 30px;
    font-size: 30px;
}

.question{
    padding: 20px;
    font-size: 25px;
}

/* .ticket{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: right;
    margin: 10px;
} */
.div1{
    width: 100%;
    display: flex;
    justify-content: right;
}